<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Bucket-List{% endblock %}</title>

    {# Utiliser AssetMapper pour les styles #}
    {{ importmap('app') }}

    {# Favicon #}
    <link rel="icon" href="{{ asset('images/favicon.png') }}">

    {% block stylesheets %}{% endblock %}
</head>
<body>
<header class="bg-light p-3">
    <div class="container">
        <div class="d-flex align-items-center">
            <img src="{{ asset('images/logo.png') }}" alt="Logo Bucket-List" height="40">
            <h1 class="ms-3 mb-0">Bucket-List</h1>
        </div>
        <nav class="mt-3">
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_home') }}">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wish_list') }}">All wishes</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('main_about_us') }}">About Us</a>
                </li>
                {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('wish_create') }}"
                       title="Add your own ideas!">
                        Add yours!
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}"
                       title="Logout !">
                        Déconnexion
                    </a>
                </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_register') }}">
                            Enregistrement
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('app_login') }}">
                            Connexion
                        </a>
                    </li>
                {% endif %}

            </ul>
        </nav>
    </div>
</header>
<main class="flex-grow-1">
    {# affiche les éventuels messages flash #}
    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ label }} alert-dismissible fade show"
                 role="alert">
                {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert"
                        aria-label="Close">
                </button>
            </div>
        {% endfor %}
    {% endfor %}
    <div class="container">
    {% block body %}{% endblock %}
    </div>
</main>

<footer class="bg-light p-3 text-center">
    <div class="container">
        <p>&copy; Bucket-List {{ "now"|date("Y") }}</p>
    </div>
</footer>

{% block javascripts %}{% endblock %}
</body>
</html>